ul.product-cats {
    margin-left: 0;
    display: inline-block;
    padding: 0;
}

ul.product-cats.product-cats-gallery {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-flow: wrap;
}

ul.product-cats li {
    list-style: none;
    margin-left: 0;
    margin-bottom: 4.236em;
    text-align: center;
    position: relative;
}

ul.product-cats li img {
    margin: 0 auto;
}

ul.product-cats li.category img {
    width: 100%;
}

@media screen and (min-width:768px) {
    ul.product-cats li {
        width: 29.4117647059%;
        float: left;
        margin-right: 5.8823529412%;
    }
    ul.product-cats li:nth-of-type(3) {
        margin-right: 0;
    }
}

ul.product-cats li.category {
    padding: 1%;
    width: 33.33333333%;
    margin: 0;
}

.category.cat-uncategorized {
    display: none !important;
}

.category a {
    color: unset;
}

.category-header {
    background-color: #232323;
    padding: 30px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    height: 88px;
    z-index: 3;
    position: relative;
}

.category-hover {
    background-color: #666;
    opacity: 0.9;
    transition: all 0.25s ease-in-out;
    display: none;
    position: absolute;
    height: 93%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: 3%;
}

.category-hover:hover {
    transition: all 0.25s ease-in-out;
    display: unset;
}

.category-hover ul {
    display: flex;
    flex-flow: column;
}

.category-hover ul li {
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    position: relative;
    font-size: 1em;
    width: 100%;
}

.HoverLinePop {
    top: 0%;
    bottom: 5%;
    transition: all 1s ease-in-out;
}

.HoverLine {
    border-bottom: 4px solid #333;
}

.HoverLine:hover {
    border-bottom: 4px solid #007F7B;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
}

.HoverLine:hover .category-hover {
    transition: all 0.25s ease-in-out;
    display: unset;
}

.category-header h3 {
    font-size: 1.2em;
    font-weight: 550;
    line-height: 1.2em;
    color: #fff !important;
}

.category-icon {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}