[submodule "option-tree"]
	path = option-tree
	url = https://github.com/ModernImpressions/option-tree.git
	branch = master
[submodule "other_part/ceojuice-commentsquery"]
	path = other_part/ceojuice-commentsquery
	url = git@github.com:ModernImpressions/ceojuice-commentsquery.git
